<!DOCTYPE html>
<html lang="en">
<head>
    <title>To do app</title>
    <style>
        #head{
            background-color:#1B5E20; 
            color: #ffffff;
            padding: 5px;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: #ffffff;
            padding: 10px;
            font-size: 20px;
            background-color: #006064;
            border-radius: 10px;
            margin: 20px;

        }
    </style>
</head>
<body bgcolor="#E8F5E9">
    <div id='head'> <h1>To Do App</h1></div>
    <div style="margin: 200px;">
       <center> <a href="login">Login</a> <a href="register">Register</a>
       </center>
    </div>
    <hr>
    <p align="center">
        <b>Developed by:</b> <i>Cybersquare</i>
    </p>
</body>
</html>